@import '../../../assets/styles/color.scss';

.custom-develop-container {
    user-select: none;
    padding: 20px 40px;
    font-family: "Comfortaa", serif;
    height: calc(100vh - 70px);
    overflow: auto;

    .custom-btn {
        min-width: 150px;
        font-family: "Comfortaa", serif;
        border-radius: 5px;
    }

    .add-btn {
        min-width: 70px;
        font-family: "Comfortaa", serif;
        border-radius: 5px;
        background-color: $border-light;
        color: $primary-web-dark;

        &:hover {
            background-color: $primary-mat-color;
            color: white;
        }
    }

    .box-div {
        width: 50%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 10px 15px;
        background-color: #F6F6FA;
    }

    .font-mono {
        font-family: "Roboto Mono", "Liberation Mono", "Courier New", monospace;
        text-align: right;
    }

    .text-right{
        text-align: right;
    }
}