@import '../../../assets/styles/color.scss';
@import '../../../styles/mediaQueries.scss';

.customer-container {
    height: inherit;
    user-select: none;
    overflow-y: auto;

    .gap {
        gap: 10px;
    }

    .list-section {
        min-width: 380px;

        &.desktop {
            width: 20%;
            border-right: 1px solid $border-light;
        }

        .refresh-section {
            background-color: #ffffff;
            height: 70px;
            padding-left: 40px;
            justify-content: center;
            font-size: 13px;
            border-bottom: 1px solid $border-light;

            .line1 {
                font-weight: bold;
            }

            .line2 {
                color: $secondary-color;

                .refresh:hover {
                    color: $primary-mat-color;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .add-customer {
                height: 24px;
                min-width: 24px;
                margin-right: 25px;
                font-size: 20px;
                background-color: $border-very-light;
                border-radius: 6px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

                &:hover {
                    cursor: pointer;
                    background-color: $border-light;
                }
            }
        }

        .customer-list {
            height: calc(100vh - 70px - 70px);
            overflow-y: auto;
        }
    }

    .details-section {
        min-width: 410px;
        height: calc(100vh - 70px - 40px);
        overflow-y: auto;

        &.desktop {
            width: 80%;
        }

        .back-button {
            padding-top: 15px;
            padding-left: 20px;
            margin-bottom: -10px;
        }

        .pt-2px {
            padding-top: 2px;
        }

        .footer-section {
            position: absolute;
            bottom: 0px;
            width: -webkit-fill-available;

            gap: 15px;
            background-color: $border-light;
            padding: 10px 50px;

            .nowrap {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .p-relative {
                position: relative;
            }

            .list-view {
                position: absolute;
                bottom: 29px;
                background-color: white;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                z-index: 10;
                max-height: 600px;
                overflow-y: auto;
                border-radius: 5px;
                min-width: 180px;
                max-width: 250px;
                gap: 5px;
                padding: 7px 10px;
            }

            .isclickable {
                color: $primary-mat-color;

                &:hover {
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }

        @include screen-mob {
            .footer-section {
                padding: 10px 15px;
                gap: 10px;
            }
        }
    }

    @media (max-width: 1440px) {
        .list-section {
            min-width: 300px;
        }
    }
}