@import '../../../assets/styles/color.scss';

.ai-widget-container {
    z-index: 9999;
    font-family: "Comfortaa", serif;
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: $light-color;
    width: 400px;
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

    &.close {
        background-color: $primary-web-green;
        width: 70px !important;
        height: 70px !important;
        min-height: 70px !important;
        border-radius: 50%;
        border-bottom-right-radius: 0px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }

    .chat-header {
        background-color: $primary-web-green;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px 20px 10px 15px;
        color: white;
        height: 62px;
    }

    .chat-messages {
        padding: 10px 10px 5px 10px;
        max-height: 500px;
        overflow-y: auto;
        scrollbar-width: thin;

        .message {
            width: fit-content;
            max-width: 80%;
            margin-bottom: 8px;
            border-radius: 10px;
            padding: 8px 12px;
            background-color: $light-color;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        }

        .thinking{
            width: fit-content;
            max-width: 80%;
            margin-bottom: 8px;
            border-radius: 15px;
            padding: 8px 12px;
            background-color: $border-very-light2;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: end;
            height: 25px;
        }

        .user-message {
            background-color: $primary-web-green;
            color: white;
            justify-self: end;
            border-bottom-right-radius: 0px;
        }

        .ai-message {
            background-color: $border-very-light2;
            color: black;
            border-bottom-left-radius: 0px;
        }

        .timestamp {
            text-align: right;
            color: $secondary-color-2;
            font-size: 10px;
        }

        .black-color {
            color: black;
        }

        .white-color {
            color: white;
        }

        .action-button{
            color: blue;
        }
    }

    .chat-input {
        padding: 0px 10px 10px 10px;

        .input-field {
            height: 36px;
            margin-right: 10px;
            padding: 5px 10px;
            border: 1px solid $border-light;
            border-radius: 5px;
            font-size: 14px;
            max-height: 100px;
        }

        .send-button {
            width: 36px;
            height: 36px;
            background-color: $primary-web-green;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}