@import '../../../assets/styles/color.scss';
@import '../../../styles/mediaQueries.scss';

.delivery-person-container {
    height: inherit;
    user-select: none;
    overflow-y: auto;

    .list-section {
        min-width: 380px;

        &.desktop {
            width: 20%;
            border-right: 1px solid $border-light;
        }

        .refresh-section {
            background-color: #ffffff;
            height: 70px;
            padding-left: 40px;
            justify-content: center;
            font-size: 13px;

            .line1 {
                font-weight: bold;
            }

            .line2 {
                color: $secondary-color;

                .refresh:hover {
                    color: $primary-mat-color;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            .add-delivery-boy {
                height: 24px;
                min-width: 24px;
                margin-right: 25px;
                font-size: 20px;
                background-color: $border-very-light;
                border-radius: 6px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

                &:hover {
                    cursor: pointer;
                    background-color: $border-light;
                }
            }

            &.bb {
                border-bottom: 1px solid $border-light;
            }
        }

        .delivery-person-list {
            height: calc(100vh - 70px - 70px - 46px);
            overflow-y: auto;
        }

        .button-section {
            margin-top: -8px;
            padding: 0px 10px 15px 40px;
            border-bottom: 1px solid $border-light;
            gap: 10px;
        }

        .capsule {
            height: 30px;
            border-radius: 5px;
            padding: 5px 15px;
            border: 0px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            box-sizing: border-box;
            display: flex;
            align-items: center;
            max-width: 600px;
            font-size: 14px;

            &.normal-btn {
                &:hover {
                    background-color: $primary-web-green;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }

    .details-section {
        min-width: 410px;
        height: calc(100vh - 70px);
        overflow-y: auto;

        &.desktop {
            width: 80%;
        }

        .back-button {
            padding-top: 20px;
            padding-left: 20px;
            margin-bottom: -10px;
        }

        .pt-2px {
            padding-top: 2px;
        }
    }

    @media (max-width: 1440px) {
        .list-section {
            min-width: 300px;
        }
    }
}