@import "../../../assets/styles/color.scss";

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-floating-label {
    color: $primary-web-green !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__trailing,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__notch {
    border-color: $primary-web-green !important;
}

.warehouse-container {
    user-select: none;
    overflow-y: auto;
    padding: 20px 40px 20px 40px;
    max-height: calc(100vh - 70px);

    .gap {
        gap: 15px;
    }

    .gap-10 {
        gap: 10px;
    }

    .add-product {
        height: 24px;
        min-width: 24px;
        margin-right: 25px;
        font-size: 20px;
        background-color: $border-very-light;
        border-radius: 6px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

        &:hover {
            cursor: pointer;
            background-color: $border-light;
        }
    }

    .input-form {
        padding: 10px 10px 5px 10px;
        gap: 10px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        min-width: 347px;

        &.padding-10 {
            padding: 10px;
        }

        .adjust-form {
            display: flex;
        }

        @media(max-width: 1024px) {
            .adjust-form {
                display: block;
            }
        }

        @media(max-width: 716px) {
            .box-input {
                flex-grow: 1;
            }
        }

        .save-btn {
            height: auto;
            min-height: 36px;
            font-family: "Comfortaa", serif;
            border-radius: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        }

        .green-theme {
            &:not(:disabled) {
                background-color: $primary-web-green;
                color: white;
            }
        }

        .custom-btn {
            @extend .save-btn;

            background-color: $border-light;
            color: $primary-web-dark;

            &.danger {
                &:hover {
                    background-color: $primary-web-red;
                    color: white;
                }
            }
        }

        .pb-2px {
            padding-bottom: 2px;
        }

        .color-picker-input {
            width: 100px;
            border-radius: 5px;
            border-width: 1px;
        }

        ::ng-deep {
            .button-area {
                display: flex;
                justify-content: space-between;
                padding: 0px 10px 10px 10px;

                .cp-ok-button-class {
                    min-width: 90px;
                    height: 30px;
                    padding-top: 4px;
                    border-radius: 5px;
                    font-family: "Comfortaa", serif;
                    border-radius: 5px;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                    margin: 0px;

                    background-color: $border-light;
                    color: $primary-web-dark;
                    border: none;

                    &:hover {
                        background-color: $primary-mat-color;
                        color: white;
                    }
                }

                .cp-cancel-button-class {
                    min-width: 90px;
                    height: 30px;
                    padding-top: 4px;
                    border-radius: 5px;
                    font-family: "Comfortaa", serif;
                    border-radius: 5px;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                    margin: 0px;

                    background-color: $border-light;
                    color: $primary-web-dark;
                    border: none;

                    &:hover {
                        background-color: $primary-web-red;
                        color: white;
                    }
                }
            }

            .color-picker {
                border-radius: 10px;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                border: none;
            }

            .saturation-lightness {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .preset-label {
                font-family: "Comfortaa", serif;
                color: $primary-web-dark;
            }

            .cp-preset-colors-class {
                display: flex;
                justify-content: space-between;
                gap: 10px;
                padding: 0px 4px 8px 4px;

                .preset-color {
                    margin: 0px;
                }
            }
        }
    }

    .item-section {
        gap: 15px;
        min-width: 340px;

        .item-card {
            height: max-content;
            flex: 1 0 17%;
            max-width: 20%;
            min-width: 300px;
            padding: 15px 15px 10px 15px;
            border-radius: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            border: 1px solid $border-light;

            &.tag-padding {
                padding: 15px 15px 13px 15px;
            }

            &:hover {
                background-color: $border-very-light;
                cursor: pointer;
            }

            .other-details {
                font-size: 14px;
            }

            .color-ball {
                width: 24px;
                border-radius: 50%;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            }
        }

        .action-text:hover {
            font-weight: bold;

            &.blue {
                color: $primary-mat-color;
            }

            &.red {
                color: $primary-web-red;
            }
        }
    }
}

@media (max-width: 1024px) {
    .warehouse-container {
        padding: 20px;
    }
}