@use "../../../assets/styles/color.scss" as *;

.tooltip-container {
    position: relative;
    display: inline-block;

    .link-text-onhover:hover {
        color: $primary-mat-color;
        cursor: pointer;
        text-decoration: underline;
    }

    .data {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
    }

    .tooltip-box {
        z-index: 3;
        position: absolute;
        left: 0%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: $border-very-light;
        padding: 10px 0px;
        min-width: 185px;
        border-radius: 10px;
        margin-left: 30px;

        &.top {
            bottom: 120%; // Box Position below the text
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

            &::before {
                bottom: -14px;
                border-color: $border-very-light transparent transparent transparent;
                filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
            }
        }

        &.bottom { // Box Position above the text
            top: 120%;
            box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.3);

            &::before {
                top: -14px;
                border-color: transparent transparent $border-very-light transparent;
                filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.4));
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: 10%;
            transform: translateX(-50%);
            border-width: 8px;
            border-style: solid;
        }
    }
}