@import '../../../assets/styles/color.scss';
@import '../../../styles/mediaQueries.scss';

.statistics-container {
    user-select: none;
    background-color: #F6F6FA;
    padding: 20px;
    font-family: "Comfortaa", serif;
    gap: 20px;
    border: 1px solid #ccc;
    overflow-y: auto;
    height: calc(100vh - 70px);

    @include screen-tab-desk {
        justify-content: center;
    }

    .column-div {
        flex: 1;
        gap: 20px;
        height: fit-content;

        @include screen-mob {
            gap: 15px;
        }
    }

    .height-fill {
        height: -webkit-fill-available;
    }

    .refresh:hover {
        color: $primary-mat-color;
        text-decoration: underline;
        cursor: pointer;
    }

    .link-text-onhover:hover {
        color: $primary-mat-color;
        cursor: pointer;
        text-decoration: underline;
    }

    .stat-card {
        background-color: white;
        border-radius: 10px;
        border: 1px solid #E7E8EC;
        height: fit-content;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        min-width: 411px;

        @include screen-tab-desk {
            padding: 25px;
        }

        @include screen-mob {
            padding: 15px;
        }

        .card-name {
            color: black;
            font-size: 20px;
            font-weight: bold;
        }

        .card-data-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr minmax(auto, max-content);
            gap: 15px;

            @include screen-mob {
                gap: 10px;
            }
        }

        .card-data-section-2 {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 15px;

            @include screen-mob {
                gap: 10px;
                margin-top: 10px;
            }

            &.three-rows {
                grid-template-rows: 1fr 1fr 1fr;
            }

            .item-l1 {
                grid-area: 1 / 1 / 2 / 2; //grid-area: row-start / column-start / row-end / column-end;
            }

            .item-l2 {
                grid-area: 2 / 1 / 3 / 2;
            }

            .item-l3 {
                grid-area: 3 / 1 / 4 / 2;
            }

            .item-r1 {
                grid-area: 1 / 2 / -1 / 3; // row-end -1 means last row
            }
        }

        .card-data {
            border: 1px solid #d3d4d7;
            border-radius: 10px;
            padding: 15px;

            .data-value {
                margin-top: 5px;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                font-size: 24px;
            }

            .data-list {
                border-top: 1px solid #E7E8EC;
                margin-top: 5px;
                padding-top: 7px;

                .no-data {
                    padding-bottom: 15px;
                }
            }

            .green-color {
                color: green;
            }

            .red-color {
                color: red;
            }

            .can-expand-data-list {
                max-height: 360px;
                overflow-y: auto;
                padding-right: 5px;
            }
        }

        .card-data-2 {
            @extend .card-data;
            padding: 15px 0px 5px 0px;

            .ml-18px {
                margin-left: 18px;
            }
        }

        .select-list {
            width: fit-content !important;
        }
    }
}