<div class="new-full-entry" *ngIf="newEntry">
    <div class="model-box">
        <app-new-entry (onCancel)="newEntry=false; isDuplicate=false; openTransaction = undefined; isEditing=false"
            (onSubmit)="saveEntry($event)" [openTransaction]="openTransaction" (onDelete)="deleteEntry(openTransaction)"
            [customerObject]="customerObject" [isDuplicate]="isDuplicate" [isEditing]="isEditing">
        </app-new-entry>
    </div>
</div>

<div class="data-table-container h-100" [ngClass]="{'no-padding':isLoadCustomEntries}">

    <div class="detail-section d-flex hidden-xs" *ngIf="isCustomer && !isLoadCustomEntries">
        <div *ngIf="!newEntry" class="data-card d-flex flex-column justify-content-center entry-btn"
            (click)="newEntry=!newEntry" tabindex="0">
            <span class="bold-text">New Entry</span>
        </div>
        <div class="data-card d-flex flex-column justify-content-center" tabindex="0"
            [ngClass]="isRefreshing?'disabled-entry-btn':'entry-btn'" (click)="refreshData()">
            <span class="bold-text">{{isRefreshing?'Refreshing...':'Refresh'}}</span>
        </div>
        <div class="data-card d-flex flex-column justify-content-center export-btn" (click)="openExportPopup()"
            tabindex="0" *ngIf="processedTableData && processedTableData.length>0">
            <span class="bold-text">Export</span>
        </div>
        <div class="data-card d-flex flex-column justify-content-center entry-btn" (click)="toggleSelectRow()"
            tabindex="0" *ngIf="processedTableData && processedTableData.length>0">
            <span class="bold-text">{{canSelectRows?'Deselect':'Select'}}</span>
        </div>
        <div class="data-card d-flex flex-column justify-content-center entry-btn" (click)="showDepositData()"
            tabindex="0">
            <span class="bold-text">Deposit</span>
        </div>
    </div>

    <div class="detail-section d-flex visible-xs ms-2" *ngIf="isCustomer && !isLoadCustomEntries">
        <div class="d-flex flex-column align-items-center" (click)="newEntry=!newEntry" tabindex="0">
            <img src="assets/images/icons/plus.png" alt="Add" width="20px">
            <span class="mt-1">Add</span>
        </div>
        <div class="d-flex flex-column align-items-center" (click)="isRefreshing ? null : refreshData()" tabindex="0">
            <img src="assets/images/icons/reload.png" alt="Reload" width="20px">
            <span class="mt-1">{{isRefreshing?'Loading...':'Refresh'}}</span>
        </div>
        <div class="d-flex flex-column align-items-center" (click)="openExportPopup()" tabindex="0"
            *ngIf="processedTableData && processedTableData.length>0">
            <img src="assets/images/icons/export.png" alt="Export" width="20px">
            <span class="mt-1">Export</span>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-end" (click)="toggleSelectRow()" tabindex="0"
            *ngIf="processedTableData && processedTableData.length>0">
            <img *ngIf="canSelectRows" src="assets/images/icons/close.png" alt="Deselect" width="18px">
            <img *ngIf="!canSelectRows" src="assets/images/icons/tick.png" alt="Select" width="20px">
            <span class="mt-1">{{canSelectRows?'Deselect':'Select'}}</span>
        </div>
        <div class="d-flex flex-column align-items-center" (click)="showDepositData()" tabindex="0">
            <img src="assets/images/icons/deposit.png" alt="Deposit" width="20px">
            <span class="mt-1">Deposit</span>
        </div>
    </div>

    <div class="w-100 table-div">
        <table *ngIf="processedTableData && processedTableData.length>0" mat-table [dataSource]="dataSource"
            multiTemplateDataRows class="custom-table">
            <tr mat-header-row *matHeaderRowDef="displayedColumns()" class="custom-header-row nowrap"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns();"
                [ngClass]="{'custom-bg-color': row.index % 2 === 0}"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns(2); when: hasSecondRow"
                class="custom-expanded-row" [ngClass]="{'custom-bg-color': row.index % 2 === 0}">
            </tr>

            <ng-container *ngFor="let column of tableStructure" [matColumnDef]="column.key">
                <th mat-header-cell *matHeaderCellDef class="custom-header-cell" [ngClass]="column.customClass">
                    {{column.label}}</th>
                <td mat-cell *matCellDef="let value" class="custom-mat-cell {{column.customClass}}"
                    [ngClass]="{'no-border-bottom': value.hasSecondRow}" [style.background]="'#'+value.highLightColor">
                    <ng-container
                        *ngTemplateOutlet="getTemplate(column.dataType); context: {$implicit: value, column: column}"></ng-container>
                </td>
            </ng-container>

            <ng-container *ngFor="let column of secondRowTableStructure" [matColumnDef]="column.key">
                <td mat-cell *matCellDef="let value" [attr.colspan]="column.width"
                    [style.background]="'#'+value.highLightColor">
                    <ng-container
                        *ngTemplateOutlet="getTemplate(column.dataType); context: {$implicit: value, column: column}"></ng-container>
                </td>
            </ng-container>
        </table>
        <mat-paginator *ngIf="processedTableData && processedTableData.length>5" [pageSizeOptions]="[5, 10, 20, 40]"
            showFirstLastButtons></mat-paginator>
    </div>

    <div class="detail-section d-flex w-100 justify-content-end mb-0 mt-3" *ngIf="isLoadCustomEntries">
        <div class="data-card d-flex flex-column justify-content-center export-btn"
            (click)="moveEntries.emit(selectedRows)" tabindex="0" *ngIf="selectedRows && selectedRows.length>0">
            <span class="bold-text">Move {{selectedRows.length}} Selected Entries</span>
        </div>
    </div>

    <div *ngIf="(!processedTableData || processedTableData.length === 0) && !newEntry"
        class="no-data d-flex justify-content-center align-items-center flex-column">
        <img src="assets/images/banner/no-result.png" alt="">
        <div class="m-4 text-center bold-text">
            No entries to show!
            <div class="secondary-color mt-1">
                {{isCustomer?'This customer has not made any purchase!':
                'This delivery person has not delivered any units!'}}
            </div>
        </div>
    </div>

    <ng-template #checkBox let-value>
        <mat-checkbox [checked]="selectedRows.includes(value)" (click)="selectRow(value, $event)"
            tabindex="0"></mat-checkbox>
    </ng-template>

    <ng-template #plainText let-value let-column="column">
        <span class="nowrap default-font">{{value?.[column.key]}}</span>
    </ng-template>

    <ng-template #amountText let-value let-column="column">
        <span class="nowrap">{{value?.[column.key] | number: '1.2-2'}}</span>
    </ng-template>

    <ng-template #nameText let-value let-column="column">
        <span class="name-text nowrap" (click)="openProfile(value?.[column.key])" tabindex="0">
            {{value?.[column.key]?.fullName}}
        </span>
    </ng-template>

    <ng-template #dnameText let-value let-column="column">
        <div *ngFor="let user of value?.[column.key]" class="my-2">
            <span class="name-text nowrap" tabindex="0" (click)="openProfile(user)">{{user?.fullName}}</span>
        </div>
    </ng-template>

    <ng-template #actionText let-value let-column="column">
        <div *ngIf="!isLoadCustomEntries; else customActions" class="nowrap d-flex flex-column align-items-center">
            <div>
                <span class="name-text" (click)="editEntry(value)" tabindex="0">Edit</span> |
                <span class="name-text" (click)="showMore(value)" tabindex="0">More</span>
            </div>
            <span class="name-text" (click)="duplicate(value)" tabindex="0">Duplicate</span>
        </div>
        <ng-template #customActions class="nowrap d-flex flex-column align-items-center">
            <span class="name-text" (click)="showMore(value)" tabindex="0">Expand</span>
        </ng-template>
    </ng-template>

    <ng-template #productDetail let-value let-column="column">
        <div *ngFor="let data of value.productDetail" class="my-2">
            <span *ngIf="column.isAmount">{{getValue(data, column.key) | number: '1.2-2'}}</span>
            <span *ngIf="!column.isAmount" class="nowrap">
                <span *ngIf="!column.isLink">{{getValue(data, column.key)}}</span>
                <div *ngIf="column.isLink" class="name-text" (click)="openProduct(data)" tabindex="0">
                    {{getValue(data, column.key)}}
                </div>
            </span>
        </div>
    </ng-template>

    <ng-template #tagList let-value let-column="column">
        <div class="d-flex gap">
            <div *ngFor="let tagId of value.tagList; let index = index">
                <div *ngIf="tagObject?.[tagId]" class="tag-chip d-flex align-items-center" (click)="openTag(tagId)"
                    tabindex="0" [title]="tagObject?.[tagId]?.data.extraNote">
                    <span class="color-ball me-2" [style.background]="'#'+tagObject?.[tagId]?.data.colorCode"
                        *ngIf="index > 0"></span>
                    <span class="tag-name">{{tagObject?.[tagId]?.data.name}}</span>
                </div>
            </div>
        </div>
    </ng-template>
</div>