@import '../../assets/styles/color.scss';

.dashboard-container {
    height: 100vh;
    display: flex;
    font-family: "Comfortaa", serif;

    .top-navbar {
        padding-left: 35px;
        padding-right: 35px;
        min-height: 70px;
        border-bottom: 1px solid $border-light;

        .logo-section {
            margin-left: -10px;

            &:hover {
                cursor: pointer;
            }
        }

        .search-box {
            height: 40px;
            max-width: 200px;
            border-radius: 10px;
            padding: 5px 15px;
            border: 0px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
            outline: none;
        }

        .profile-image {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            object-fit: cover;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
            }
        }

        .other-menu-card {
            z-index: 3;
            user-select: none;
            min-width: 250px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
            padding: 8px 8px 8px 0px;
            position: absolute;
            right: 20px;
            top: 68px;

            .card-menu-item {
                color: $secondary-color;
                font-size: large;
                border-left: 3px solid white;
                padding-left: 14px;

                &:not(.disabled):hover {
                    color: $primary-web-dark;
                    font-weight: bold;
                    cursor: pointer;
                    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
                }

                &.disabled {
                    color: $secondary-color;
                    cursor: not-allowed !important;
                }

                &.active {
                    color: $primary-web-dark;
                    font-weight: bold;
                    border-left: 3px solid $primary-web-dark;
                }
            }
        }
    }

    .nav-item-bar {
        float: right;

        .nav-item {
            margin-top: 23px;
            cursor: pointer;
            font-size: large;
            margin-left: 35px;
            color: $secondary-color;
            user-select: none;

            &.disabled {
                color: $secondary-color;
                cursor: not-allowed;
            }

            &.active {
                color: $primary-web-dark;
                font-weight: bold;
                border-bottom: 3px solid $primary-web-dark;
                margin-bottom: -2px;
            }

            &:not(.disabled):hover {
                color: $primary-web-dark;
                text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
            }
        }
    }

    @media (max-width: 1100px) {
        .top-navbar {
            .logo-text-normal {
                display: none;
            }
        }

        .nav-item-bar {
            z-index: 2;

            .nav-item {
                margin-left: 25px;
            }
        }
    }

    @media (max-width: 760px) {
        .top-navbar {
            .logo-text-inventory {
                display: none;
            }
        }
    }

    @media (max-width: 425px) {
        .top-navbar {
            padding-left: 15px;
            padding-right: 25px;

            .logo-text-normal,
            .logo-icon {
                display: none;
            }

            .navbar-actions {
                width: 100%;
                justify-content: space-between;
            }

            .other-menu-card {
                min-width: 200px;
            }
        }

        .nav-item-bar {
            .nav-item {
                margin-left: 20px;
            }
        }
    }
}