// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import 'assets/styles/color.scss';
@import '../src/styles/marginPadding.scss';
@import '../src/styles/heightWidth.scss';

html {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bold-text {
  font-weight: bold;
}

.secondary-color {
  color: $secondary-color;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.small-text {
  font-size: 14px;
}

.smaller-text {
  font-size: 12px;
}


.large-text {
  font-size: 26px;
}

.heading {
  font-size: 28px;
}

.link-text {
  color: $primary-mat-color;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.noWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  &-red {
    color: $danger-color;
  }

  &-green {
    color: $primary-web-green;
  }
}

.line-border {
  border-top: 1px dashed $secondary-color;
}

.cursor-pointer {
  cursor: pointer;
}