$primary-color: #6822db;
$secondary-color: #6c757d;
$secondary-color-2: #93999e;
$success-color: #198754;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #0dcaf0;
$light-color: #f8f9fa;
$dark-color: #212529;

$border-light: #dfdfdf;
$border-very-light: #f3f3f6;
$border-very-light2: #e8e8ec;

$primary-mat-color: #1469c0;
$mat-hover-background: #EDEDED;

$primary-web-yellow: #feaf08;
$primary-web-red: #e41018;
$primary-web-dark: #18212b;

$secondary-web-light-yellow: #ffde59;
$excel-color: #1D6F42;
$pdf-color: #F40F02;

$tab-border-color: #dfdfdf;

$primary-web-green: #084547;