@import '../../../../styles/mediaQueries.scss';

.delivery-statistics-container {
    user-select: none;
    padding: 30px 40px 40px 40px;
    font-family: "Comfortaa", serif;

    .heading {
        font-size: 28px;
    }

    .select-list {
        width: fit-content !important;
    }

    .chart-section {
        border: 1px solid #d3d4d7;
        border-radius: 10px;
        padding: 15px;
    }

    .card-section {
        gap: 10px;

        .name-card {
            background-color: white;
            border-radius: 10px;
            padding: 10px 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 1px solid #d3d4d7;
            position: relative;

            .more-details {
                background-color: #f5f5f5;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1000;
                transition: opacity 0.3s ease, visibility 0.3s ease;
                width: calc(100% + 2px);
                border-left: 1px solid #d3d4d7;
                border-right: 1px solid #d3d4d7;
                border-bottom: 1px solid #d3d4d7;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 0px 10px 10px 10px;
                margin-top: -10px;
                margin-left: -1px;
            }

            &:hover {
                background-color: #f5f5f5;
            }

            &:hover .more-details {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}