@import '../../../assets/styles/color.scss';

.loader-container {
    z-index: 9999;
    font-family: "Comfortaa", serif;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);

    .box {
        gap: 10px;
    }

    .spinner {
        width: 88px;
        height: 88px;
        border: 10px solid #ccc;
        border-top: 10px solid $primary-web-green;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    .loading-text {
        color: $primary-web-green;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}